body {
    background-color: #FFC2C3;
    text-align: center;
    color: #594136;
    font-family: Helvetica;
}

main {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
}

main p {
    text-align: left;
    margin: 5%;
}

a {
    color: #52718E;
    text-decoration: none;
}

a:hover {
    color: #A4B8CB;
    text-decoration: line;
}

h2 {
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}

img {
    width: 45%;
}

li {
    text-align: left;
    margin-bottom: 10px;
    padding-left: 5px;
}

input {
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    margin: 0;
    width: auto;
    outline: none;
    display: inline;
}

@media screen and (min-width: 981px) and (max-width: 1400px) {
    body {
        background-color: #ffe0e1;
    }
}

@media screen and (min-width: 601px) and (max-width: 980px) {
    body {
        background-color: #e6f7ff;
    }

    main {
        width: 95%;
    }
}

@media screen and (min-width: 370px) and (max-width: 600px) {
    body {
        background-color: #f0f0f0;
    }

    main {
        width: 100%;
        margin: 0;
    }

    img {
        width: 90%;
    }
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    text-align: left;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}