body{
    background-color: #FFC2C3;
    text-align: center;
    color: #594136;
    font-family: Helvetica;
}

main {
    width: 50%;
    margin: 0 auto;
    max-width: 800px;
}

main p {
    text-align: left;
    margin: 5%;
}

a{
    color: #52718E;
    text-decoration: none;
}

a:hover{
    color: #A4B8CB;
    text-decoration: line;
}

h2{
    text-align: center;
}

figure{
    text-align: center;
    font-style: italic;
}

img{
    width: 45%;
}
