body {
    background-color: #FFC2C3;
    color: #594136;
    font-family: Helvetica;
}

header {
    text-align: center;
}

h2 {
    text-align: center;
}

footer {
    text-align: center;
}

form fieldset:last-of-type {
    margin-bottom: 0px;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

fieldset > div {
    padding-bottom: 10px;
}

fieldset div:last-of-type {
    padding-bottom: 0px;
}