:root {
    --header-bg-color: rgb(236, 161, 173);
    --header-text-color: rgb(117, 107, 168);
    --main-bg-color: rgba(220, 196, 227, 0.84);
    --main-text-color: rgb(192, 109, 109);
    --footer-bg-color: rgb(236, 161, 173);
    --footer-text-color: rgb(117, 107, 168);
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 204, 211);
    font-family: Arial, Helvetica, sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 100vw;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    align-self: center;
    margin: 15px auto;
    border-radius: 25px;
    justify-content: space-around;
    height: 15vh;
    width: 90vw;
    max-width: 900px;
}

header h1, header nav{
    margin-bottom: 25px;
}

header a {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: bold;
    margin: 0 15px;
}

main {
    width: 90vw;
    max-width: 900px;
    align-self: center;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 25px;
    padding: 15px 25px;
    margin-bottom: 15px;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-radius: 25px;
    text-align: center;
    align-self: center;
    justify-self: flex-end;
    width: 90vw;
    max-width: 900px;
}