:root {
    --header-bg-color: rgb(236, 161, 173);
    --header-text-color: rgb(117, 107, 168);
    --main-bg-color: rgba(220, 196, 227, 0.84);
    --main-text-color: rgb(192, 109, 109);
    --footer-bg-color: rgb(236, 161, 173);
    --footer-text-color: rgb(117, 107, 168);
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(245, 204, 211);
    font-family: Arial, Helvetica, sans-serif;
}

body main, body footer {
    margin-top: 15px;
}

body header {
    margin-top: 20px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: center;
    border-radius: 25px;
    height: 15vh;
    width: 90vw;
    max-width: 900px;
    padding-top: 10px;
}

header a {
    text-decoration: none;
    color: var(--header-text-color);
    font-weight: bold;
}



main {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 900px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    border-radius: 25px;
}

main > * {
    margin: 25px 20px;
}

footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    border-radius: 25px;
    text-align: center;
    width: 90vw;
    max-width: 900px;
}