/* Slideshow Styles */
#slideshow {
    position: relative;
    max-width: 600px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 25px;
}

#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#slideshow img.active {
    opacity: 1;
}