<nav>
    <a href="https://webpages.charlotte.edu/lfragapa/">Charlotte.edu</a> ||
    <a href="https://github.com/lfragapa/lfragapa.github.io">GitHub</a> ||
    <a href="https://lfragapa.github.io">GitHub.io</a> ||
    <a href="https://www.freecodecamp.org/louis_fragapane">FreeCodeCamp</a> ||
    <a href="https://www.codecademy.com/profiles/lfragapa">Codeacademy</a> ||
    <a href="https://www.linkedin.com/in/louis-fragapane-5b6486356/">Linkedln</a> ||
    <a href="../hobby/index.html">Hobby</a>
</nav>
<p>Page made by <a href="lazyllamaindustries.com/">Lazy Llama Industries</a> &copy;2025</p>
